%p
    Welcome to BookStore, #{@name}!
%p
    You have successfully signed up to BookStore, your username is: #{@name}
%p
    To login to the site, just follow this #{link_to "link", @url}.
Thanks for joining and have a great day!