= simple_form_for @author, defaults: { wrapper_html: { class: 'author-form' } }  do |f|
    = f.input :first_name, placeholder: "First name", label: false, autofocus: true
    = f.input :last_name, placeholder: "Last name", label: false
    = f.button :submit