/*
 *= require reset
 *= require_tree .
 *= require_self
*/

/* html{
  overflow: hidden;
} */

body {
  background: rgb(235, 216, 216);
  overflow-x: hidden;
}

.logout-btn{
  border: none;
  color:white;
  background: transparent;
  cursor: pointer; 
}

.logout-btn:hover{
  color:red;  
}

.nav-bar {
  font-size: 1.2rem;
  height: 60px;
  margin: 0;
  padding: 0;
  background: #5900ff;
}

.nav-bar li {
  height: auto;
  padding: 0px;
  margin-top: -5px;
  display: inline-block;
}


.nav-bar li a{
  display: block;
  width: auto;
  height: 100%;
  color: #fff;
  text-decoration: none;
  font-style: none;
  padding: 20px;
}

.nav-bar li:not(.profile):not(.logout):hover > a {
  color: yellow;
  border-bottom: 3px solid yellow;
}

.search-form {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

.sb-btn,
#search{
  text-align: left;
  outline: none;
  margin: 0;
  padding: 5px 20px;
  border:none;
  border-bottom: 3px solid lightcoral;
  border-right: none;
  font-size: 1.2rem;
  background: #fff;
}

.sb-btn{
  border-radius: 0px;
  margin: -10px;
  border-bottom: 3px solid lightcoral;
  border-left: 1px solid lightcoral;
}

.sb-btn:hover{
  background: lightcoral;
  transition: 1s;
}

input#session_email,
input#session_password,
input#user_name,
input#user_email,
input#user_password,
input#user_password_confirmation{
  /* background: white; */
  background: rgb(235, 216, 216);
}

.sign-up-page label,
.log-in-page label {
  clear: both;
}
.form-actions {
  clear: both;
}
.form-actions input.button {
  display: block;
}
.form-actions a {
  display: block;
}

input#search{
  margin: 20px 0;
  width: 400px;
}

.nav-bar .profile{
  font-size: 1.5rem;
  float: right;
  border-bottom: 3px solid yellow;
  /* border: 2px solid white; */
  margin-right: 100px;
}

.nav-bar .profile a{
  color: yellow;
  text-transform: uppercase;
}

.alert-error{
  color: red;
  font-size: 1.5rem;
}

.alert-success{
  color: green;
  font-size: 1.5rem;
}

.field_with_errors {
  background: red;
  margin: 0 auto;
  width: 400px;
  text-align: center;
}

table{
  margin-left: auto;
  margin-right: auto;
}

/* .field_with_errors {
  padding: 2px;
  background-color: red;
  border-top: 1px solid red;
  display: table;
} */


