.new_genre input,
.edit_genre input {
  font-size: 1.5rem;
  border: none;
  width: 400px;
  outline: none;
  border-bottom: 1px solid blueviolet;
  margin: 20px 0px;
}

.new_genre .button {
  background: blueviolet;
  color: white;
}

.edit_genre label {
  width: 20%;
}
